body {
  padding: 30px;
  font: 14px "Architects Daughter", Helvetica, Arial, sans-serif;
  background-image: url('../images/color-smoke.jpg');
  /*background-size: cover;*/
}

h1 {
  font-weight: bold;
  font-size: 3em;
  color: #1A4BF1;
}

a {
  color: #00B7FF;
}

#myCanvas {
  border: 5px solid #1A4BF1;
  border-radius: 10px;
  background-color: white;
  /*box-shadow: -9px 13px 5px -2px rgba(81,197,189,0.36);*/
}

.form {
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  padding-top: 0;
}

div {
  margin-bottom: 15px;
  color: #1A4BF1;
  font-size: 1.01em;
}

label {
  display: inline-block;
  width: 170px;
  vertical-align: middle;
}

input[type='number'], input[type='color'] {
  width: 48px;
}

select, button, input{
  border: solid 2px #1A4BF1;
  color: #1A4BF1;
  font-family: "Architects Daughter";
  font-size: 1em;
  border-radius: 3px;
  height: 30px;
}


button, input[type='color'] {
  /*background-color: rgba(164, 221, 220, .5);*/
  background-color: white;
}

button {
  border: solid 2px #1A4BF1;
  color: #1A4BF1;
}

button:hover {
  color: white;
  background-color: #1A4BF1;
}

#randomMove {
  margin-right: 5px;
}

#eraseSquares {
  margin-top: 15px;
}
